.thumbnail{
  display: flex;
  flex-wrap: wrap;
  max-width: 1460px;
  justify-content: space-around;
  margin: auto;
} 

.thumbnail-content{
    max-width: 440px;
    min-width: 440px;
    padding: 10px;
    margin: 10px;
    cursor: pointer;
    min-height: 300px;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border: solid 1px ;
    transition: 0.3s;
}

.thumbnail-content:hover{
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.thumbnail-content img {
  width: 100%;
  height: auto;
}


.thumbnail .user-content{
    display: flex;
    justify-content: space-between;
}


  /* animation*/
.fade-in-image {
    animation: fadeIn 2s;
    -webkit-animation: fadeIn 2s;
    -moz-animation: fadeIn 2s;
    -o-animation: fadeIn 2s;
    -ms-animation: fadeIn 2s;
  }
  @keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-moz-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-webkit-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-o-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-ms-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }


  @media screen and (max-width: 675px){

    .thumbnail{
      max-width: 360px;
      margin: auto;
    }
  
    .thumbnail-content{
      
      min-width: auto;
      margin: auto;
    }
  
  
  
  }